// @import "../../../assets/styles/fontawesome.scss";
// @import "../../../assets/styles/solid.scss";
// @import "../../../assets/styles/brands.scss";

// .user {
//   @extend %fa-icon;
//   @extend .fas;

//   &:before {
//     content: fa-content($fa-var-user);
//   }
// }

.layout {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 40px;
  width: 75%;
  align-items: center;
  background-color: white;
  min-height: 420px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.05);
}

.number {
  display: table-cell;
  height: 20px;
  width: 20px;
  padding: 8px;;
  border-radius: 50%;
  color: white;
  background-color: black;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Homework;
}

.question {
  font-size: 100px;
  margin: 60px 0;
}

.microphone {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-bottom: 32px;
  color: white;
  background-color: #0090b4;
  transition: 0.1s;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: lighten(#0090b4, 10%);
  }

  &:active {
    background-color: darken(#0090b4, 10%);
  }
}

.navigate {
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    padding: 12px 24px;
    color: white;
    background-color: #0090b4;
    transition: 0.1s;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .cancel {
    background-color: #858585;
  }

  .action {
    background-color: orange;
  }
}
