<div class="layout">
  <div class="number">{{no}}.</div>
  <section class="question">
    {{factorA}} {{operatorSign}} {{factorB}} =
    <input [(ngModel)]="answer" type="number">
  </section>
  <section class="container-record">
    <button (mousedown)="startRecord()" (mouseup)="stopRecord()" class="microphone" [disabled]="isLoading">
      <span class="material-icons">mic</span>
    </button>
    <div *ngIf="isLoading" class="message">Loading . . .</div>
    <div *ngIf="isRecording" class="message">Recording . . .</div>
    <app-error [text]="message" class="message"></app-error>
  </section>

  <div class="navigate">
    <button (click)="exit()" class="cancel">Exit</button>
    <button (click)="submit()" class="action" [disabled]="!answer || result">Submit</button>
  </div>
</div>

<section class="popup" *ngIf="result" [@enterAnimation]>
  <div *ngIf="result == 'Incorrect'" class="material-icons clear">clear</div>
  <div *ngIf="result == 'Correct'" class="material-icons done">done</div>
  <div class="result">{{ result }}</div>
  <button (click)="next()" *ngIf="no < maxNumber" class="action">Next</button>
  <button (click)="exit()" *ngIf="no == maxNumber" class="action">Finish</button>
</section>
