.full-bar {
  height: 8px;
  background-color: #ccc;
}

.progress-bar {
  height: 8px;
  background-color: #0e0;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  position: relative;

  &::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #0e0;
    border-radius: 50%;
  }
}
