<div class="layout">
  <h1 class="header">สถิติของคุณ</h1>
  <p *ngIf="isLoading">Loading...</p>
  <div class="container-info" *ngIf="!isLoading">
    <div class="title title-a">จำนวนโจทย์ที่เคยเล่น</div>
    <div class="item-aa">{{ stat.totalCalculations }}</div>

    <div class="title title-b">จำนวนโจทย์ที่ตอบถูก</div>
    <div class="item-bb">{{ stat.correctCalculations }}</div>

    <div class="title title-c">คะแนนรวม</div>
    <div class="item-cc">{{ stat.totalScore }}</div>
  </div>

  <a routerLink="/game">Practice !</a>
</div>
