<div class="container">
  <h2>Register</h2>
  <form>
    <input type="text" name="username" placeholder="Username" [(ngModel)]="username" />
    <span class="description">Length 6-32</span>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="password" />
    <span class="description">Length 6-50</span>
    <button (click)="onSubmit()">Submit</button>

    <p *ngIf="message">{{ message }}</p>
  </form>
  <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
</div>
