<div class="container">
  <h2>Register</h2>
  <app-error [text]="message"></app-error>
  <form>
    <input type="text" name="username" placeholder="Username" [(ngModel)]="username" />
    <span class="description">Length 6-32</span>
    <input type="password" name="password" placeholder="Password" [(ngModel)]="password" />
    <span class="description">Length 6-50</span>
    <input type="password" name="confirm" placeholder="Confirm Password" [(ngModel)]="confirmPassword" />
    <button (click)="onSubmit()">Register</button>
  </form>
  <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
</div>
